@import '/srs/css/reset.css';
:root {
  --mainColor: #fff;
  --mainDark: #272727;
}
* {
  color: var(--mainColor);
}
button {
  border: none;
}
.header-main-container {
  background: url(/srs/img/header-bg.png) no-repeat center/cover;
  width: 100%;
  height: 100%;
  padding-top: 55px;
}
.header {
}
.container {
  margin-left: 160px;
  margin-right: 130px;
}
.header-nav {
}
.nav-list {
  display: flex;
  column-gap: 20px;
  margin-bottom: 71px;
}
.nav-iteam {
  font-size: 24px;
  color: var(--mainColor);
  list-style: none;
  font-weight: 200;
}
.main {
}
.service {
}
.service-name {
  font-size: 70px;
  color: var(--mainColor);
  width: 650px;
  font-weight: 200;
}
.service-text {
  font-size: 21px;
  color: var(--mainColor);
  font-weight: 300;
  width: 500px;
}
.service-button {
font-weight: 300;
font-size: 24px;
color: var(--mainColor);
background-color: #B47B48;
padding-left: 34px;
padding-top: 16px;
padding-right: 34px;
padding-bottom: 7px;
border-radius: 15px;
margin-top: 33px;
margin-bottom: 125px;


}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.cards {
  background: var(--mainDark);
  display: flex;
  align-items: center;
  column-gap: 8px;
  transition: all .6s;
  padding: 14px;
  height: 200px;
  position: relative;
}
.cards::after {
  content: '!';
  position: absolute;
  border: 2px solid var(--mainColor);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  left: 40%;
  top: 80%;
}
.cards:hover{
  background-color: #EBAD51;
}
.cards-text {

}
.card-text {
  font-size: 24px;
  font-weight: 200;
  color: var(--mainColor);
}
.card-name {
  font-weight: 500;
  margin-top: 13px;
  margin-bottom: 35px;

}
.card-button {
  padding: 10px 22px 6px 22px;
  background: #C85312;
}
